svg {
	pointer-events: none;
}

.bg-primary {
	background: $color-primary !important;
}

.cover-fit {
	object-fit: cover;
}

.h-7 {
	height: 12rem;
}

.table {
	&__td {
		display: block;
		&::before {
			content: attr(data-label);
			float: left;
			font-weight: bold;
			@include md {
				content: none;
			}
		}
		@include md {
			display: table-cell;
			text-align: left;
		}
	}
	&__input {
		width: 5rem;
	}
}
